<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/App/Doctor/AddDoctor.js"></script>
@{
    ViewBag.Title = "Agregar doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .labelError {
        color: #dc3545;
        font-size: 80%;
        margin-top: .25rem;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card-default">
            <div class="card-header">
                <h3 class="card-title">Datos Personales</h3>
            </div>
            <div class="card-body p-0">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <div class="step" data-target="#infPerDoc-part">
                            <button class="step-trigger" role="tab" type="button" aria-controls="infPer-part" id="infPerDoc-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Informacion personal</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#infContDoc-part">
                            <button class="step-trigger" role="tab" type="button" aria-controls="infCont-part" id="infContDoc-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Informacion De Contacto</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#infResDoc-part">
                            <button class="step-trigger" role="tab" type="button" aria-controls="infRes-part" id="infResDoc-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Informacion De Residencia</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <div id="infPerDoc-part" class="content" role="tabpanel" aria-labelledby="infPerDoc-part-trigger">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo Identificacion</label>
                                        <select class="form-control select2" name="selectTipoIdDoc" id="selectTipoIdDoc"></select>
                                        <span id="inputTipoError" class="labelError">Seleccione un tipo de identificacion</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="primerApellidoFieldDoc">Primer Apellido</label>
                                        <input class="form-control inputLastDoc" maxlength="20" placeholder="Ingrese primer apellido" name="lastNameDoc" tabindex="4" id="primerApellidoFieldDoc" />
                                        <span id="inputLastNameError" class="labelError">Campo requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="identificacionFieldDoc">Identificacion</label>
                                        <input class="form-control inputIdDoc" maxlength="10" placeholder="Ingrese identificacion" name="identificationDoc" tabindex="1" id="identificacionFieldDoc" />
                                        <span id="inputIdDocError" class="labelError">Identificacion requerida, Minimo 7 caracteres</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="segundoApellidoFieldDoc">Segundo Apellido</label>
                                        <input class="form-control" tabindex="5" maxlength="20" placeholder="Ingrese segundo apellido" id="segundoApellidoFieldDoc" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="primerNombreFieldDoc">Primer Nombre</label>
                                        <input class="form-control inputFirsDoc" maxlength="15" placeholder="Ingrese primer nombre" name="firstNameDoc" tabindex="2" id="primerNombreFieldDoc" />
                                        <span id="inputFirstNameError" class="labelError">Campo requerido</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Nacimiento</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input type="date" id="fechaNacDoc" class="form-control dateDoc" name="fechaNacDoc" />
                                            <span id="inputDateError" class="labelError">Campo requerido</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="segundoNombreField">Segundo Nombre</label>
                                        <input class="form-control" maxlength="15" placeholder="Ingrese segundo nombre" tabindex="3" id="segundoNombreField" />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="BtnNext">Siguiente</button>
                            <button class="btn btn-danger" id="cancelarDatos">Cancelar</button>
                        </div>
                        <div id="infContDoc-part" class="content" role="tabpanel" aria-labelledby="infContDoc-part-trigger">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control celular" id="celularFieldDoc" name="celularFieldDoc" data-inputmask="'mask':'999-999-9999'" data-mask />
                                            <span id="inputCelDocError" class="labelError">Campo obligatorio</span>
                                            <span id="inputCelDocError2" class="labelError">Numero demaciado corto</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input autocomplete="off" class="form-control" id="telefonoField" data-inputmask='"mask": "999-9999"' data-mask />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input class="form-control correoDoc" id="correoFieldDoc" name="correoFieldDoc" type="email" />
                                            <span id="inputCorreoDocError" class="labelError">Campo obligatorio</span>
                                            <span id="inputCorreoDocError2" class="labelError">Ingrese un correo valido</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="BtnPre">Anterior</button>
                            <button class="btn btn-primary" id="BtnNext2">Siguiente</button>
                        </div>
                        <div id="infResDoc-part" class="content" role="tabpanel" aria-labelledby="infResDoc-part-trigger">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <select class="form-control select2" id="selectDepartamentosDoc"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <select class="form-control select2" id="selectMunicipiosDoc"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Barrio</label>
                                        <input class="form-control" autocomplete="off" placeholder="Ingrese el barrio" id="barrioDoc" />
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input class="form-control" autocomplete="off" placeholder="Ingrese la direccion" id="direccionDoc" />
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <button class="btn btn-primary" id="BtnPre2">Anterior</button>
                            <button class="btn btn-primary" role="button" type="button" id="BtnSaveDoctor">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

