<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/App/Reporte/Reportes.js"></script>
@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12"><br /></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="card-title m-0">Reporte por edades</h5>
                </div>
                <div class="card-body">
                    <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

