<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DentalWhite.AccesoDatos.Properties.Settings.DWConnectionString"
            connectionString="Data Source=(LocalDB)\.;Initial Catalog=DW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>